* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

.contain {
  width: 100%;
  height: 100%;
}

a {
  color: #e2e6e9;
  text-decoration: none !important;
}

.contain {
  width: 100%;
  height: 100%;
  background-image: url("/asset/img/background/gif1.gif");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}
.contain .contain__option {
  position: fixed;
  top: 25%;
  left: 10%;
}
.contain .contain__option .option {
  transform: skewY(10deg);
  border: 10px solid #f5d567;
  background-image: linear-gradient(to bottom, #694a19, rgba(31, 31, 1, 0.85));
  color: #f5df8f;
  font-weight: bold;
  border-radius: 20px;
  font-size: 30px;
  width: 200px;
  padding: 10px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.contain .contain__option .option:hover {
  background-color: #000066;
}
.contain .contain__level {
  position: fixed;
  left: 47%;
  top: 25%;
}
.contain .contain__level .level {
  display: none;
  background-image: linear-gradient(to bottom, #4b7abb, #142d42);
  color: #e2e6e9;
  margin: 20px 0;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 25px;
}
.contain .contain__level .level:hover {
  background-color: #2eaae8;
}
.contain .contain__level .level:hover a {
  color: white;
}

.contain__bar-sound {
  position: fixed;
  width: 40% !important;
  left: 35%;
  top: 30%;
  border-radius: 2%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
}
.contain__bar-sound .bar__title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
}
.contain__bar-sound .bar {
  background-color: #e7e1e1;
  margin: 15px 10px;
  height: 13px !important;
  width: 80%;
  cursor: pointer;
  display: flex;
  align-content: center;
  position: relative;
}
.contain__bar-sound .bar .bar__valid {
  margin: 0;
  padding: 0;
  top: 0%;
  left: 0%;
  height: 13px;
  background-color: #0061b9;
  border-radius: 7px;
  position: absolute;
}
.contain__bar-sound .bar .bar__button {
  bottom: -70%;
  left: 95%;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #0061b9;
  border-radius: 100%;
  cursor: pointer;
}
.contain__bar-sound .bar .volume {
  content: "";
  background-color: rgb(255, 255, 255);
  font-size: 25px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  width: 25px;
}
.contain__bar-sound .bar .volume i {
  position: absolute;
  right: 10%;
  top: -40%;
}

.bar_a {
  display: flex;
  align-items: center;
  width: 80%;
}

.contain__bar-sound--visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 30s, opacity 0.5s linear;
}

.contain__bar-sound--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 30s, opacity 0.5s linear;
}

/*# sourceMappingURL=home.css.map */
