* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

.contain {
  width: 100%;
  height: 100%;
}

a {
  color: #e2e6e9;
  text-decoration: none !important;
}

body {
  background-color: #cceedd;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contain__column-item {
  position: absolute;
  right: 5%;
  top: 30%;
  color: #cceedd;
  font-size: 30px;
}
main .contain__column-item .item {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
}
main .contain__column-item .item #item__score {
  text-align: center;
  width: 40px;
}

#contain__background {
  width: 100%;
  height: 100%;
}
#contain__background .contain__bar {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #cceedd;
  color: black;
}
#contain__background .contain__bar .bar__hint {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 30px;
  flex: 1;
}
#contain__background .contain__bar .bar__time {
  display: flex;
  justify-content: center;
  flex: 3;
}
#contain__background .contain__bar .bar__time .time__frame {
  width: 60%;
  height: 30px !important;
  border-radius: 20px;
  border: 4px solid #6c6666;
  background-color: #cceedd;
}
#contain__background .contain__bar .bar__time .time__frame .time__value {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background-color: rgba(239, 227, 3, 0.85);
  height: 100%;
}
#contain__background .contain__bar .bar__level {
  flex: 1;
  display: flex;
  justify-content: center;
}
#contain__background .contain__bar .bar__level h2 {
  font-weight: normal;
  font-size: 50px;
}
#contain__background .contain__bar .bar__option {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
#contain__background .contain__bar .bar__option .option {
  display: flex;
  width: 25px;
  height: 25px;
  border: none;
  padding: 5px;
  color: #cceedd;
  background-color: #006699;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
#contain__background .contain__matrix {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contain__background .contain__matrix .matrix {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #cceedd;
  max-width: 1080px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-template-columns: repeat(18, 1fr);
  grid-template-row: repeat(11, 1fr);
  grid-gap: 0px;
}
#contain__background .contain__matrix .matrix .block {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}
#contain__background .contain__matrix .matrix .block-border {
  border: 1px solid #6b6666;
}
#contain__background .contain__matrix .matrix .clicked {
  border-color: red;
}

.block--position {
  position: relative;
}

.block--hidden {
  background-color: #cceedd;
  margin: 0;
  padding: 0;
  border: 1px solid #cceedd !important;
}

.block--background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.block--background-color {
  border: 2px solid #6c6666;
  background-color: #eee7ba;
}

.lineActiveRight {
  position: absolute;
  top: 45%;
  left: 54%;
  content: "";
  width: 106%;
  height: 5px;
  border-radius: 10px;
  background-color: #04046e;
  z-index: 100;
}

.lineActiveLeft {
  position: absolute;
  top: 45%;
  right: 45%;
  content: "";
  width: 110%;
  height: 5px;
  border-radius: 10px;
  background-color: #04046e;
  z-index: 100;
}

.lineActiveBottom {
  position: absolute;
  top: 45%;
  left: 50%;
  content: "";
  width: 5px;
  height: 110%;
  border-radius: 10px;
  background-color: #04046e;
  z-index: 100;
}

.lineActiveTop {
  position: absolute;
  bottom: 55%;
  left: 50%;
  content: "";
  width: 5px;
  height: 110%;
  border-radius: 10px;
  background-color: #04046e;
  z-index: 100;
}

.contain__manage {
  background-color: #000066;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  display: none;
}
.contain__manage .manage__item {
  cursor: pointer;
  border-radius: 10px;
  color: #cceedd;
  background-color: #6c6666;
  margin: 10px 0;
  padding: 10px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}
.contain__manage .manage__close {
  color: #e2e6e9;
  position: absolute;
  top: -5%;
  right: -2%;
  background-color: red;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#al {
  font-size: 30px;
  color: red;
  margin-top: 15px;
  margin-right: 30px;
}

.contain__bar-sound {
  position: fixed;
  top: 15%;
  left: 30%;
  width: 42%;
  height: 45%;
  border-radius: 2%;
  background-color: #e2e6e9;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.contain__bar-sound .contain__bar-close {
  position: absolute !important;
  top: -5%;
  right: -2%;
  padding: 15px;
  width: 1%;
  height: 1%;
  border-radius: 100%;
  color: #e2e6e9;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contain__bar-sound .contain__bar-close:hover {
  background-color: #be5109;
}
.contain__bar-sound .bar__title {
  text-transform: capitalize;
}
.contain__bar-sound .bar {
  background-color: rgba(239, 227, 3, 0.85);
  margin: 15px 10px;
  height: fit-content !important;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}
.contain__bar-sound .bar .bar__valid {
  margin: 0;
  padding: 0;
  top: 0%;
  left: 0%;
  height: 20px;
  background-color: blue;
  border-radius: 10px;
  position: relative;
}
.contain__bar-sound .bar .bar__button {
  bottom: -25%;
  right: 0%;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 100%;
  cursor: pointer;
}

.bar_a {
  display: flex;
  align-items: center;
  width: 80%;
}

.contain__bar-sound--visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 30s, opacity 0.5s linear;
}

.contain__bar-sound--hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 30s, opacity 0.5s linear;
}

.contain__content {
  display: flex;
  align-items: flex-end;
}
.contain__content .gif {
  padding: 50px 0;
}

/*# sourceMappingURL=play.css.map */
